@charset "UTF-8";

/****Header***/

h1 {
    font-family: 'Roboto', sans-serif;
    color: purple;  
}

h2 {
    font-family: 'Encode Sans SC', sans-serif;
}

/*****Body*****/

p {
    font-family: 'Archivo', sans-serif;
}

@media (min-width: 768px) {
    body {
        font-size: larger;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: x-large;
    }
}
